{% extends "shop/base.html" %}
{% load static %}
{% load shop_tags %}
{% block title %}Product detail{% endblock title %}
{% block content %}
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a href="/"><img src="{% static 'img/core-img/logo.png' %}"  alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a href="/"><img src="{% static 'img/core-img/logo.png' %}"  alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/cart">Cart</a></li>
                <li ><a href="/feedback">Feedback</a></li>
                <li ><a href="/contact">Contact Us</a></li>
        </ul>
        </nav>
        <!-- Button Group -->
        <div class="amado-btn-group mt-30 mb-100">
            <a href="#" class="btn amado-btn mb-15">%Discount%</a>
            <a href="#" class="btn amado-btn active">New this week</a>
        </div>
        <!-- Cart Menu -->
        <div class="cart-fav-search mb-100">
            <a href="/cart" class="cart-nav"><img src="{% static 'img/core-img/cart.png' %}"  alt=""> Cart <span>({{ cart|length }})</span></a>
            <a href="#" class="fav-nav"><img src="{% static 'img/core-img/favorites.png' %}"  alt=""> Favourite</a>
            <a href="#" class="search-nav"><img src="{% static 'img/core-img/search.png' %}"  alt=""> Search</a>
        </div>
        <!-- Social Button -->
        <div class="social-info d-flex justify-content-between">
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/goodluck_florist/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Product Details Area Start -->
    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">
            {% block message %}
                {{ block.super }}
            {% endblock message %}
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-50">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'shop:product_list_by_category' product.category.slug %}">{{ product.category }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{ product.image.url }});">
                                </li>
                                {% for image in product.images.all %}
                                    <li class="active" data-target="#product_details_slider" data-slide-to="{{ forloop.counter }}" style="background-image: url({{ image.image.url }});">
                                    </li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="{{ product.image.url }}" >
                                        <img class="d-block w-100" src="{{ product.image.url }}"  alt="First slide">
                                    </a>
                                </div>
                                {% for image in product.images.all %}
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{{ image.image.url }}" >
                                            <img class="d-block w-100" src="{{ image.image.url }}" >
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">₹{{ product.price }}</p>
                            <a >
                                <h6>{{ product.name }}</h6>
                            </a>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="review">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
                                        Write a Review
                                    </button>
                                </div>
                            </div>
                            <!-- Avaiable -->
                             {% if product.available %}
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                             {% else %}
                                <p class="out-of-stock"><i class="fa fa-times-circle"></i> Out of Stock</p>
                             {% endif %}
                        </div>

                        <div class="short_overview my-5">
                            <p>{{ product.description }}</p>
                        </div>

                        <!-- Add to Cart Form -->
                        <form class="cart clearfix" method="post" action="{% url 'cart:cart_add' product.id %}">
                            {% csrf_token %}
                            
                            <div class="cart-btn d-flex mb-50">
                                <p>Qty</p>
                                <div class="quantity">
                                    <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                    <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
                        </form>

                    </div>
                </div>
            </div>
                 <!-- Reviews Section -->
            <div class="row mt-5">
                <div class="col-12">
                    <h4>Customer Reviews</h4>
                    <div class="reviews">
                        {% if product.reviews %}
                        {% for review in product.reviews.all %}
                        <div class="media mb-4">
                            <img class="mr-2 rounded-circle" src="{% static 'img/core-img/user.jpg' %}" alt="User image" style="width: 60px; height: 60px;">
                            <div class="media-body">
                                <span>{{ review.body }}</span>
                                <div class="ratings-review" style="color: gold;">
                                    <div class="ratings">
                                    {% for i in review.rating|rangeOf %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endfor %}
                                    </div>
                                </div>
                                <small class="text-muted">Posted on {{ review.created|date:"F j, Y, g:i a" }}</small>
                            </div>
                        </div>
                        {% empty %}
                        <p>No reviews yet. Be the first to review this product!</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Details Area End -->

</div>
<!-- ##### Main Content Wrapper End ##### -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="review_form" action="{% url 'shop:product_review' %}" method="post">
            <div class="modal-body">
                {{ form.product }}
                {{ form.body }}
                {{ form.rating }}
                {% csrf_token %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
